<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/logo.png"
        alt="Logo"
        width="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/first-task"
          >First Task</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/second-task" routerLinkActive="active"
          >Second Task</a
        >
      </li>
    </ul>
  </div>
</nav>
