.form{
  margin: 50px auto;
  background-color: whitesmoke;
  width: 70%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.form h1{
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  color: #818181;
}

.form label{
  font-weight: 500;
  text-transform: capitalize;
}

.form input::placeholder{
  color: #a8a5a5;
}
.form input{
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.table-container{
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-custom{
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  background-color: rgb(97, 106, 106);
}

.search-container{
  margin-top: 30px;
}

.container{
  min-height: calc(100vh - 160px);
}
